*.pyc
.DS_Store
.map
venv
migrations
.map
.ipynb_checkpoints/
.sass-cache/
SteamyReviews.sublime-project
SteamyReviews.sublime-workspace
data/reviews.gzip
data/uncompressed_reviews.json
data/descriptions
data/reviews_1000_tokens/
data/reviews_5000_tokens/
*.mallet
