version: "2"
services:
  web:
    build: .
    command: python run.py
    ports:
     - "5000:5000"
    volumes:
     - .:/root/SteamyReviews
    links:
     - redis
    environment:
     - APP_SETTINGS=config.DevelopmentConfig
