<html>
    <title>{{ name }}</title>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600" rel="stylesheet">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <img class="steam-back" src="/static/steam.png">
        <h1>STEAMY REVIEWS</h1>
        <div class="overlay"></div>
        <div class="container">
            <form class="form-inline global-search">
                <div class="form-group">
                    {% macro searchbar(value) -%}
                        <input class="searchbar" id="input" type="text" name="search" class="form-control" placeholder="Enter a game to get started" value="{{ value|e }}" autofocus>
                    {%- endmacro %}
                    {% if game is defined %}
                        {{ searchbar(game.name) }}
                    {% elif query is defined %}
                        {{ searchbar(query) }}
                    {% else %}
                        {{ searchbar("") }}
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
            {% if didyoumean1 is defined %}
                 <h2 class="suggested">
                    We couldn't find anything for <span class="emphasize">{{query|e}}</span>!
                    Did you mean: <a href="/?app_id={{ didyoumean1.app_id }}"><span class="emphasize">{{ didyoumean1.name }}</span></a> or <a href="/?app_id={{ didyoumean2.app_id }}"><span class="emphasize">{{ didyoumean2.name }}</span></a>?
                </h2>
            {% endif %}
            {% if no_such_app_id is defined %}
                <h2 class="suggested">Sorry, but this app ID is not in our database! Don't hesitate to get in touch with us and will consider adding it.</h2>
            {% endif %}
        </div>

        {% if ranking is defined %}
            <!-- With love from https://github.com/BlackrockDigital/startbootstrap-creative -->
            <div class="container-fluid">
                <h2 style="z-index: 10;" class="result-head">Showing results for: <a href="{{ game.steam_url() }}"><span class="emphasize">{{ game.name }}</span></a></h2>
                <div class="row no-gutter">
                {% for game in ranking %}
                    <div class="col-sm-4">
                        <a href="{{ game.steam_url() }}" class="result-box">
                            <img src="{{ game.steam_image_url() }}" class="result-img">
                            <div class="result-box-caption">
                                <div class="result-box-caption-content">
                                    <div class="result-text">
                                        {{ game.name }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}

        </div>
    </body>

</html>
