<html>
    <title>{{ name }}</title>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/search.css">
    </head>
    <body>
        <img class="steam-back" src="/static/steam.png">
        <h1>STEAMY REVIEWS</h1>
        <div class="overlay"></div>
        <div class="topcorner">
            <!-- <p>Project name: {{ name }}</p>
            <p>Student NetIDs: {{ netid }}</p> -->
        </div>
        <button class="btn btn-info steam-account user-login" data-toggle="modal" data-target="#login-modal">
            <span>Login to Steam</span>
            <span class="btn-desc">For personalized suggestions</span>
        </button>
        <div class="dropdown steam-account user-menu">
            <button class="btn btn-info" id="user-menu-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="btn-desc">Logged in as</span>
                <span>{{ username }} <span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="user-menu-dropdown">
                <li><a class="logout unselectable">Logout</a></li>
            </ul>
        </div>
        <div class="container">
            <form class="form-inline global-search">
                <div class="form-group">
                    {% macro searchbar(value) -%}
                        <input class="searchbar form-input typeahead" id="game-searchbar" type="text" name="search" placeholder="Enter a game to get started" value="" autofocus>
                    {%- endmacro %}
                    <!-- Not using this the at the moment but might revert back later -->
                    {% if query_game is defined %}
                        {{ searchbar(query_game.name) }}
                    {% elif query is defined %}
                        {{ searchbar(query) }}
                    {% else %}
                        {{ searchbar("") }}
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
<!--             <button class="btn btn-info">
                <span>Top Steam library suggestions</span>
                <span class="btn-desc">Ignoring the query field</span>
            </button> -->
            {% if didyoumean1 is defined %}
                 <h2 class="suggested">
                    We couldn't find anything for <span class="emphasize">{{query|e}}</span>!
                    Did you mean: <a class ="emphasize" href="/?app_id={{ didyoumean1.app_id }}">{{ didyoumean1.name }}</a> or <a class ="emphasize" href="/?app_id={{ didyoumean2.app_id }}">{{ didyoumean2.name }}</a>?
                </h2>
            {% endif %}
            {% if no_such_app_id is defined %}
                <h2 class="suggested">Sorry, but this app ID is not in our database! Don't hesitate to get in touch with us and will consider adding it.</h2>
            {% endif %}
        </div>

        {% if ranking is defined %}
            <!-- With love from https://github.com/BlackrockDigital/startbootstrap-creative -->
            <div class="container-fluid results">
                <h2 class="result-head">Showing results for: <a href="{{ query_game.steam_url() }}"><span class="emphasize">{{ query_game.name }}</span></a></h2>
                <!-- <div class="tags text-center" data-tags="{{ query_game.tags_json() }}">
                    <h3 class="unselectable">Tags generated from game reviews</h3>
                    <p class="unselectable">Click to remove from results</p>
                </div> -->
                <div class="row no-gutter">
                {% for score, ranked_game in ranking %}
                    <div class="col-sm-4">
                        <div class="result-box"
                             data-app-id="{{ ranked_game.app_id }}"
                             data-title="{{ ranked_game.name }}"
                             data-score="{{ score }}"
                             data-tags='{{ ranked_game.tags_json(True, True) | safe }}'
                             data-features="{{ ranked_game.intersect_features(query_game, True) | safe }}"
                             data-steam-url="{{ ranked_game.steam_url() }}">
                            <img src="{{ ranked_game.steam_image_url() }}" class="result-img">
                            <div class="result-box-caption">
                                <div class="result-box-caption-content">
                                    <div class="result-text">
                                        {{ ranked_game.name }}
                                    </div>
                                    <div class="result-expand">
                                        Click for more info
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="details-overlay">
        <div class="details-content-wrapper">
            <div class="details-nav">
                <span class="glyphicon glyphicon-remove close-button details-close" aria-hidden="true"></span>
            </div>
            <div class="details-body">
            <!-- <img class="details-img"> -->
            <h1 class="details-title unselectable"></h1>
            <p class="text-center">
                <a target="_blank" class="details-btn btn details-link">View on Steam</a>
                <a class="details-btn btn details-query">Use game as query</a>
            </p>
            <canvas class="details-attribute-chart"></canvas>
            <h4 class="unselectable text-center">Tags from User Reviews</h4>
            <div class="details-tags text-center">
            </div>
            </div>
        </div>
        </div>

        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="glyphicon glyphicon-remove close-button" aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title unselectable">Steam login</h4>
                    </div>
                    <form action="/steam/login" method="post">
                    <div class="modal-body">
                        <p>Logging into Steam helps us personalize search results and suggest games based on your library.
                        <br>We don't store any of your data on our server. This site is not associated with Valve Corp.</p>
                        {% if invalid_login is defined and invalid_login %}
                            <p class="invalid-login" style="font-weight: 600; color: rgb(185, 233, 247);">
                                Invalid username. Please try again.
                            </p>
                        {% endif %}
                        <div class="form-group">
                            <input class="login-input form-input" name="username" type="text" placeholder="Steam ID">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default login-btn" >Login</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/chart.min.js"></script>

        <script src="/static/js/jquery.autocomplete.js"></script>
        <script src="/dynamic/js/autocomplete.js"></script>

        <script>
            var userAccount = "{{ username }}";
            var currentGameTitle, toggle_modal;
            {% if query_game is defined %}
                currentGameTitle = "{{ query_game.name }}";
                var currentGameFeatureNames = {{ query_game.best_feature_names(True) | safe }};
                var currentGameFeatures = {{ query_game.best_features(True) | safe }};
                currentGameFeatures = currentGameFeatures.map(Math.login);
            {% endif %}

            {% if invalid_login is defined and invalid_login %}
                toggle_modal = true;
            {% endif %}
        </script>
        <script src="/static/js/search.js"></script>
    </body>
</html>
