    <html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600" rel="stylesheet">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <img class="steam-back" src="/static/steam.png">
        <h1>STEAMY REVIEWS</h1>
        <div class="overlay"></div>
        <div class="container">
            <form class="form-inline global-search">
                <div class="form-group">
                    <input class="searchbar" id="input" type="text" name="search" class="form-control" placeholder="Enter a game to get started" autofocus>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
            {% if didyoumean is defined %}
                 <h2 class="suggested">We couldn't find anything for <span class="emphasize">{{query}}</span>! Did you mean: <a href="/?search={{corrected_query}}"><span class="emphasize">{{didyoumean}}</span></a></h2>
            {% endif %}
        </div>

        {% if results is defined %}
            <!-- With love from https://github.com/BlackrockDigital/startbootstrap-creative -->
            <div class="container-fluid">
                <h2 class="result-head">Showing results for: <span class="emphasize">{{query}}</span></h2>
                <div class="row no-gutter">
                {% for game in results %}
                    <div class="col-sm-4">
                        <a href="{{game.steam_url()}}" class="result-box">
                            <img src="{{ game.steam_img_url }} class="result-img">
                            <div class="result-box-caption">
                                <div class="result-box-caption-content">
                                    <div class="result-text">
                                        {{ game.name }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}

        </div>
    </body>

</html>
